<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="taskTable(task)">
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a th:href="@{/admin/task/{id}(id=${task.id})}"
                   class="text-decoration-none">
                    <p th:text="${task.id}"></p>
                </a>
            </td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${#temporals.format(task.deadline, 'E, dd MMM yyyy HH:mm')}"></td>
            <td th:text="${task.status}? 'Done' : 'Not done'"></td>
            <td th:text="${task.taskType.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>