<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/css/plus.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container mt-5">
    <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    <h1 class="mb-4">User</h1>
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Patronymic</th>
            <th>Telegram ID</th>
            <th>User type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a th:href="@{/admin/user/{id}(id=${user.id})}" class="text-decoration-none">
                    <p th:text="${user.id}"></p>
                </a>
            </td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.secondName}"></td>
            <td th:text="${user.patronymic}"></td>
            <td th:text="${user.telegramId != null ? user.telegramId : '-'}"></td>
            <td>
                <a th:href="@{/admin/user_type/{id}(id=${user.userType.id})}"
                   th:text="${user.userType.name}">
                </a>
            </td>
            <td>
                <a th:href="@{/admin/user/edit/{id}(id=${user.id})}"
                   class="btn btn-primary btn-sm">
                    Edit
                </a>

                <form
                        th:action="@{/admin/user/delete/{id}(id=${user.id})}"
                        th:method="DELETE" style="display:inline;"
                        onsubmit="return confirm('Are you sure you want to delete this user?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 class="mb-4">Schedules</h1>
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tasks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${user.schedules}">
            <td>
                <a th:href="@{/admin/schedule/{id}(id=${schedule.id})}" class="text-decoration-none">
                    <p th:text="${schedule.id}"></p>
                </a>
                <a
                        th:href="@{/admin/schedule/edit/{scheduleId}(scheduleId=${schedule.id})}"
                        class="btn btn-primary btn-sm">
                    Edit
                </a>

                <form
                        th:action="@{/admin/schedule/delete/{scheduleId}(scheduleId=${schedule.id})}"
                        th:method="DELETE" style="display:inline;"
                        onsubmit="return confirm('Are you sure you want to delete this schedule?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
            <td th:text="${schedule.name}"></td>
            <td>
                <table class="table table-dark table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${schedule.tasks}">
                        <td>
                            <a th:href="@{/admin/task/{id}(id=${task.id})}"
                               class="text-decoration-none">
                                <p th:text="${task.id}"></p>
                            </a>
                        </td>
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.description}"></td>
                        <td
                                th:text="${#temporals.format(task.deadline, 'E, dd MMM yyyy HH:mm')}"></td>
                        <td th:text="${task.status}"></td>
                        <td>
                            <a
                                    th:href="@{/admin/task/edit/{taskId}(taskId=${task.id})}"
                                    class="btn btn-primary btn-sm">
                                Edit
                            </a>
                            <form th:action="@{/admin/task/delete/{taskId}(taskId=${task.id})}"
                                  th:method="DELETE" style="display:inline;"
                                  onsubmit="return confirm('Are you sure you want to delete this task?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Плюсик >-->
                <a th:href="@{/admin/task/new(scheduleId=${schedule.id})}" class="plus-icon">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Плюсик >-->
                <a th:href="@{/admin/schedule/new(userId=${user.id})}" class="plus-icon">
                    <i class="bi bi-plus-lg"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
