<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title th:text="${schedule.name}">Schedule name</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/css/plus.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="|Schedule '${schedule.name}'|"></h1>
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Tasks</th>
        </tr>
        </thead>
        <tbody>
            <td>
                <table class="table table-dark table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>№</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task, taskStat : ${schedule.tasks}">
                        <td>
                            <p th:text="${taskStat.count}"></p>
                        </td>
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${#temporals.format(task.deadline, 'E, dd MMM yyyy HH:mm')}"></td>
                        <div th:switch="${task.status}">
                            <td th:case="true">Completed</td>
                            <td th:case="false">Pending</td>
                        </div>
                        <td>
                            <a th:href="@{/user/task/edit/{taskId}(taskId=${task.id}, scheduleId=${schedule.id})}"
                               class="btn btn-primary btn-sm">
                                Edit
                            </a>

                            <form
                                    th:action="@{/user/task/delete/{taskId}(taskId=${task.id})}"
                                    th:method="DELETE" style="display:inline;"
                                    onsubmit="return confirm('Are you sure you want to delete this task?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Плюсик >-->
                <a th:href="@{/user/task/add(scheduleId=${schedule.id})}" class="plus-icon">
                    <i class="bi bi-plus-lg"></i>
                </a>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
            </td>
        </tbody>
    </table>
    <a th:href="@{/user/start}" class="btn btn-primary">Back</a>
    <form th:action="@{/authorization/logout}" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
