<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Task add</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Save Task</h1>
    <form th:action="@{/admin/task/new}" th:object="${task}"
          th:method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input
                    type="datetime-local"
                    id="deadline"
                    name="deadline"
                    th:field="*{deadline}"
                    class="form-control"
                    placeholder="Task deadline">
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select th:field="*{status}" id="status" name="status" class="form-select">
                <option th:value="false" value="Pending">Pending</option>
                <option th:value="true" value="Completed">Completed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
    </form>
</div>
<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>