    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.login}">User login</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4" th:text="|Hello, ${user.login}! Your schedules:|">Greeting</h1>
    <table class="table table-dark table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tasks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${user.schedules}">
            <td>
<!--                <a th:href="@{/admin/user/{id}(id=${user.id})}" class="text-decoration-none">-->
                    <p th:text="${schedule.id}"></p>
<!--                </a>-->
            </td>
            <td th:text="${schedule.name}"></td>
            <td>
                <table class="table table-dark table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task : ${schedule.tasks}">
                        <td>
                            <!--                <a th:href="@{/admin/user/{id}(id=${user.id})}" class="text-decoration-none">-->
                            <p th:text="${task.id}"></p>
                            <!--                </a>-->
                        </td>
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.deadline}"></td>
                        <td th:text="${task.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>

        </tr>
        </tbody>
    </table>
    <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    <form th:action="@{/authorization/logout}" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
