<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Vaka Daily</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        body {
            background-color: #000;
            color: #fff;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .center-content {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="center-content">
    <h3 sec:authorize="isAuthenticated()">Hello, <span sec:authentication="name"></span></h3>
    <h1 class="h1">Vaka Daily</h1>
    <a href="/start" class="btn btn-primary" style="margin-bottom: 10px;">Start</a>
    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DEVELOPER')" href="/admin" class="btn btn-primary">Admin</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
