<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task add</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<form th:action="@{/user/task/add}" th:object= "${task}" th:method="post"
      class="p-4 bg-dark text-white rounded">
    <!-- Поле ID (только для отображения, без возможности редактирования) -->
    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input
                type="text"
                id="id"
                name="id"
                class="form-control"
                th:value="*{id}" readonly>
    </div>

    <!-- Поле Name для ввода названия -->
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
                type="text"
                id="name"
                name="name"
                th:field="*{name}"
                class="form-control"
                placeholder="Task Name">
    </div>

    <!-- Поле Description для ввода описания -->
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
                type="text"
                id="description"
                name="description"
                th:field="*{description}"
                class="form-control"
                placeholder="Task description">
    </div>

    <!-- Поле Deadline для ввода крайнего срока -->
    <div class="mb-3">
        <label for="deadline" class="form-label">Deadline</label>
        <input
                type="datetime-local"
                id="deadline"
                name="deadline"
                th:field="*{deadline}"
                class="form-control"
                placeholder="Task deadline">
    </div>

    <!-- Поле Status для выбора статуса задачи -->
    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select th:field="*{status}" id="status" name="status" class="form-select">
            <option th:value="false" value="Pending">Pending</option>
            <option th:value="false" value="In Progress">In Progress</option>
            <option th:value="true" value="Completed">Completed</option>
        </select>
    </div>

    <!-- Кнопки управления -->
    <div class="d-flex justify-content-between">
        <!-- Кнопка отправки формы -->
        <button type="submit" class="btn btn-primary">Save</button>
        <!-- Кнопка сброса формы -->
        <button type="reset" class="btn btn-secondary">Reset</button>
    </div>
</form>
<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>